        .titre {
            color : blue;
            text-align : center;
            font-size : 48px;
        }
        .body{
            background-image: url("img/Ville/Azura.png");

        }
        .character-sheet {
                background-image: url("img/slot/inv.png")
        }
